connector:
  name: AWS ECR Connector {{ environment }}
  identifier: {{ connector_aws_ecr_id }}
  description: AWS ECR connector for pulling Docker images from {{ ecr_registry }}
  tags:
    - aws
    - ecr
    - cf-deploy
    - {{ environment }}
  type: Aws
  spec:
    credential:
      type: ManualConfig
      spec:
        accessKeyRef: {{ aws_access_key_ref }}
        secretKeyRef: {{ aws_secret_key_ref }}
    region: {{ aws_region }}
    executeOnDelegate: true
    crossAccountAccess:
      crossAccountRoleArn: arn:aws:iam::{{ aws_account_id_source }}:role/{{ ecr_cross_account_role_name }}
      externalId: {{ ecr_external_id }}