environment:
  name: {{ item }}
  identifier: {{ item }}
  description: {{ item | capitalize }} environment for CF application
  tags:
    - {{ item }}
    - cf-deploy
  type: Production
  spec:
    variables:
      - name: namespace
        type: String
        value: cf-{{ item }}
      - name: cluster_name
        type: String
        value: {{ rosa_cluster_name }}
      - name: ecr_registry
        type: String
        value: {{ ecr_registry }}
      - name: aws_region
        type: String
        value: {{ aws_region }}