connector:
  name: cf-deploy-github
  identifier: {{ connector_github_id }}
  description: GitHub connector for cf-deploy repository
  tags:
    - cf-deploy
    - {{ environment }}
  type: Github
  spec:
    url: {{ github_url }}
    validationRepo: {{ github_repo }}
    executeOnDelegate: false
    type: Account
    spec:
      username: {{ github_username }}
      tokenRef: {{ github_token_ref }}
    apiAccess:
      type: Token
      spec:
        tokenRef: {{ github_token_ref }}