connector:
  name: ROSA Cluster {{ environment }}
  identifier: {{ connector_rosa_cluster_id }}
  description: ROSA (RedHat OpenShift on AWS) cluster connector for {{ environment }} deployment
  tags:
    - rosa
    - openshift
    - cf-deploy
    - {{ environment }}
  type: K8sCluster
  spec:
    credential:
      type: ManualConfig
      spec:
        masterUrl: {{ rosa_cluster_url | default(rosa_api_endpoint.stdout, true) }}
        auth:
          type: ServiceAccount
          spec:
            serviceAccountTokenRef: {{ rosa_service_account_token_ref }}
    delegateSelectors:
      - {{ harness_delegate_name }}